.service_code {
  /*border: #fff 1px solid;
  width: 80px;
  margin: 5px;
  /*cursor: pointer;*/
  display: flex;
  align-items: center;
  /* justify-content: center;*/
  border: #fff 1px solid;
  width: 12%;
}
