.banner {
  margin-top: -10vh;
  height: 90vh;
  margin-bottom: -80px;
  color: white;
  object-fit: contain;
}

.banner_contents {
  margin-left: 30px;
  padding-top: 300px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_description {
  width: 45rem;
  line-height: 1;
  padding: 1rem 0;
  font-size: 1rem;
  max-width: 360px;
  height: 80px;
}

.banner_fadeBottom {
  height: 40vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(37, 37, 37, 0.91),
    #111
  );
}
.banner_button:hover {
  color: #000;
  background-color: #c6c6c6;
  transition: all0.2s;
}
.play {
  background: #fff;
  color: #000;
}
.bannerbutton {
  background: #fff;
  color: #000;
  padding: 0.9rem 2.3rem;
  font-weight: 700;
  margin-right: 2rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 0.2vw;
}
.bannerbutton:hover {
  transition: all0.2s;
  color: #000;
  background-color: #c6c6c6;
}
.banner_button {
  cursor: pointer;
  border: none;

  font-size: 0.9rem;
  border-radius: 0.2vw;
  font-weight: 700;
  background-color: rgba(51, 51, 51, 0.5);
  padding: 1rem 2rem;
  margin-right: 2rem;
  outline: none;
  color: #fff;
  /*background: transparent;*/
}

/* Responsive Design */
@media (max-width: 768px) {
  .banner {
    height: 350px;
    /* Reduce height for smaller screens */
  }

  .banner_contents {
    margin-left: 20px; /* Reduce margin for smaller screens */
    padding-top: 100px;
  }

  .banner_title {
    font-size: 2rem; /* Adjust title size for small screens */
  }

  .banner_description {
    font-size: 0.9rem; /* Smaller font for description */
    max-width: 90%; /* Adjust width for better alignment */
  }

  .banner_button .bannerbutton {
    padding: 6px 15px; /* Smaller buttons */
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 250px;
    /* reduce height for very small screens */
  }

  .banner_contents {
    padding-top: 80px;
  }

  .banner_title {
    font-size: 1.5rem; /* Even smaller title */
  }

  .banner_description {
    font-size: 0.8rem;
    max-width: 100%; /* Full width for the description */
  }

  .banner_button {
    padding: 5px 10px; /* Adjust button padding */
    font-size: 0.8rem;
  }
}
